html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

button, input, textarea, select {
  border: none;
  outline: none;
  resize: none;
}

button:disabled, input:disabled, textarea:disabled, select:disabled {
  background: none;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
  font-family: "Muli";
  font-size: 20px;
  color: #242021;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  color: #041d39;
}

.container {
  max-width: 1920px;
  padding: 0 160px;
  margin: 0 auto;
  width: 100%;
}

.page-section {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 0 274px;
}

.title {
  color: #041d39;
}

.btn {
  color: #FFF;
  text-align: center;
  border: none;
  border-radius: 8px;
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  padding: 32px;
}

.btn.dark-blue {
  background-color: #041d39;
}

.btn.thin {
  font-size: 16px;
  padding: 10px 30px;
  min-height: 50px;
}

.btn.orange {
  background-color: #ff6b08;
  border-radius: 4px;
  font-size: 28px;
  padding: 14px 26px;
  border: none;
  cursor: pointer;
}

.btn.gray {
  background-color: #f6f6f6;
  color: #041d39;
}
