html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Muli', sans-serif;
  font-size: 10px;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.header {
  margin-top: 100px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
  min-height: 100px;
}

.header__categories-button {
  height: 21px;
  width: 39px;
  border-top: 6px solid #ff6600;
  border-bottom: 6px solid #ff6600;
}

.header__nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-menu span {
  font-size: 24px;
  font-weight: bold;
  margin-left: 24px;
}

.header__search {
  position: relative;
  padding: 0;
  width: 502px;
}

.header__search-input {
  border: none;
  background-color: #f6f6f6;
  border-radius: 24px;
  width: 100%;
  padding-left: 66px;
  height: 55px;
  font-size: 20px;
}

.header__search-input::-webkit-input-placeholder {
  color: #ababab;
}

.header__search-input:-ms-input-placeholder {
  color: #ababab;
}

.header__search-input::-ms-input-placeholder {
  color: #ababab;
}

.header__search-input::placeholder {
  color: #ababab;
}

.header__search-button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 26px;
  border: none;
  background: none;
  color: #ff6b08;
  font-size: 24px;
  cursor: pointer;
}

.header__sell-button {
  background-color: #ff6b08;
  border-radius: 14px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding: 14px 26px;
  border: none;
  cursor: pointer;
}

.header__user {
  display: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__user-avatar {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.header__user-greeting {
  font-size: 15px;
  color: #3a506b;
  margin-top: 10px;
}

.header__main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__main-menu-item {
  font-size: 24px;
  font-weight: bold;
}

.header__main-menu-item:not(:first-child) {
  margin-left: 55px;
}

.section-banner .banner {
  background-color: #d6effa;
  padding: 55px;
  border-radius: 24px;
  position: relative;
}

.section-banner .banner h1 {
  font-size: 25px;
  font-weight: normal;
  line-height: 36px;
  margin: 0;
}

.section-banner .banner h1 b {
  font-family: 'Muli Black';
}

.section-banner .banner__search {
  margin-top: 24px;
}

.section-banner .banner__search .search {
  width: 276px;
}

.section-banner .banner__search .search__input {
  height: 34px;
  background-color: #fff;
}

.section-banner .banner img {
  position: absolute;
  bottom: -44px;
  right: -24px;
}

.title-h2 {
  font-size: 27.5px;
  font-weight: bolder;
}

.title-h3 {
  font-size: 15px;
  font-weight: bold;
}

.title-h4 {
  font-size: 15px;
  font-weight: bold;
  color: #ababab;
  letter-spacing: 6px;
}

.section-categories-services .categories {
  padding: 30PX 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.section-categories-services .categories__item {
  background-color: #f6f6f6;
  padding: 15px;
  border-radius: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  font-size: 9px;
  color: #000;
  height: 106px;
  width: 80px;
}

.section-categories-services .categories__item .image {
  height: 52px;
  width: 100%;
  background: url(../images/categories-and-services-sprite.png) no-repeat;
}

.section-categories-services .categories__item .image.baby-and-child {
  background-position-x: 2px;
}

.section-categories-services .categories__item .image.fashion-and-accessories {
  background-position-x: -54px;
}

.section-categories-services .categories__item .image.home-and-garden {
  background-position-x: -104px;
}

.section-categories-services .categories__item .image.sports-and-leisure {
  background-position-x: -166px;
}

.section-categories-services .categories__item .image.games-and-consoless {
  background-position-x: -240px;
}

.section-categories-services .categories__item .image.home-appliances {
  background-position-x: -314px;
}

.section-categories-services .categories__item .image.property {
  background-position-x: -386px;
}

.section-categories-services .categories__item .image.books-films-and-music {
  background-position-x: -459px;
}

.section-categories-services .categories__item .image.hair-salon {
  background-position-x: -531px;
}

.section-categories-services .categories__item .image.plumber {
  background-position-x: -597px;
}

.section-categories-services .categories__item .image.floor-cleaner {
  background-position-x: -660px;
}

.section-categories-services .categories__item .image.dj {
  background-position-x: -731px;
}

.section-categories-services .categories__item .image.chef {
  background-position-x: -806px;
}

.section-categories-services .categories__item .image.car-repairs {
  background-position-x: -877px;
}

.section-categories-services .categories__item .image.spa {
  background-position-x: -943px;
}

.section-categories-services .categories__item .image.therapy-session {
  background-position-x: -1009px;
}

.section-categories-services .categories__item span {
  display: inline-block;
  text-align: center;
  line-height: normal;
}

.section-categories-services .categories__load-more {
  position: absolute;
  bottom: 0;
  right: 0;
  text-decoration: none;
  color: #ff6600;
  font-size: 7.5px;
}

.section-discover .discover-menu {
  list-style: none;
  font-size: 12.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 31px;
}

.section-discover .discover-menu__item {
  padding-bottom: 10px;
}

.section-discover .discover-menu__item:not(:first-child) {
  margin-left: 26px;
}

.section-discover .discover-menu__item a {
  text-decoration: none;
  color: #ababab;
  font-weight: bold;
}

.section-discover .discover-menu__item.active {
  background: url(../images/menu-underline.png) no-repeat;
  background-position: bottom;
}

.section-discover .discover-menu__item.active a {
  color: #000;
  position: relative;
}

.section-discover .discover {
  list-style: none;
  margin-top: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-discover .discover__item {
  width: 124px;
}

.section-discover .discover__item .preview {
  background-color: #ffe8d9;
  border-radius: 8px;
  padding: 108px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.section-discover .discover__item .preview__image {
  position: absolute;
  top: -18px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section-discover .discover__item .preview__name {
  font-size: 13px;
  font-weight: bold;
  color: #000;
}

.section-discover .discover__item .preview__price {
  font-size: 11px;
  color: #ababab;
  margin-top: 8px;
}

.section-discover .discover__item .preview__like {
  width: 20px;
  height: 20px;
  background: url(../images/discover-icons.png);
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: 16px;
}

.section-discover .discover__item .buttons-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 22px;
}

.section-discover .discover__item .buttons-panel .settings {
  display: block;
  height: 18px;
  width: 18px;
  background: url(../images/discover-icons.png);
  background-position-x: -34px;
}

.section-discover .discover__item .buttons-panel .buy-now {
  color: #fff;
  background-color: #041d39;
  padding: 8px 20px;
  text-decoration: none;
  font-size: 10.5px;
  font-weight: bold;
  border-radius: 5px;
}

.section-near-you .near-you {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 46px;
}

.section-near-you .near-you .near-you__item {
  list-style: none;
}

.section-near-you .near-you .near-you__item a {
  text-decoration: none;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-near-you .near-you .near-you__item a .title-h3 {
  margin-top: 18px;
}

.section-near-you .near-you .near-you__item a p {
  font-size: 7.5px;
  font-weight: bolder;
  margin-top: 8px;
}

.section-partner .partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 24px 0 34px;
}

.section-partner .partner .wave-text {
  letter-spacing: 20px;
  margin-top: 160px;
}

.section-partner .partner .wave-text b {
  font-size: 30px;
  font-weight: bold;
}

.section-partner .partner .wave-text b.bottom {
  position: relative;
  top: 32px;
}

.section-partner .partner span {
  font-size: 12.5px;
  margin-top: 120px;
}

.section-partner .partner__button {
  background-color: #ff6b08;
  border-radius: 6px;
  color: #fff;
  font-size: 9px;
  padding: 10px 18px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-top: 30px;
}

.section-partner .partner .avatar-partner {
  width: 37px;
  height: 37px;
  background: url(../images/partners-icons.png) no-repeat;
  position: absolute;
}

.section-partner .partner .avatar-partner.item_0 {
  top: 0;
  left: 58px;
}

.section-partner .partner .avatar-partner.item_1 {
  background-position-x: -47px;
  top: 40px;
  left: 275px;
}

.section-partner .partner .avatar-partner.item_2 {
  background-position-x: -187px;
  top: 38px;
  right: 54px;
}

.section-partner .partner .avatar-partner.item_3 {
  background-position-x: -141px;
  top: 63px;
  right: 193px;
}

.section-partner .partner .avatar-partner.item_4 {
  background-position-x: -94px;
  top: 112px;
  right: 297px;
}

.section-partner .partner .avatar-partner.item_5 {
  background-position-x: -236px;
  top: 132px;
  left: 121px;
}

.section-partner .partner .avatar-partner.item_6 {
  background-position-x: -283px;
  top: 148px;
  right: 89px;
}

.section-partner .partner .avatar-partner.item_7 {
  background-position-x: -330px;
  top: 200px;
  left: 22px;
}

.section-partner .partner .avatar-partner.item_8 {
  background-position-x: -523px;
  top: 211px;
  right: 0px;
}

.section-partner .partner .avatar-partner.item_9 {
  background-position-x: -426px;
  top: 264px;
  left: 314px;
}

.section-partner .partner .avatar-partner.item_10 {
  background-position-x: -475px;
  top: 291px;
  right: 279px;
}

.section-partner .partner .avatar-partner.item_11 {
  background-position-x: -571px;
  top: 304px;
  right: 51px;
}

.section-partner .partner .avatar-partner.item_12 {
  background-position-x: -379px;
  top: 313px;
  left: 186px;
}

.section-partner .partner .avatar-partner.item_13 {
  background-position-x: -667px;
  top: 400px;
  right: 174px;
}

.section-partner .partner .avatar-partner.item_14 {
  background-position-x: -619px;
  top: 420px;
  left: 121px;
}

.section-book-anywhere {
  background-color: #d9ffec;
  margin-top: 60px;
}

.section-book-anywhere .book-anywhere {
  padding: 10px 0;
  position: relative;
  height: 164px;
}

.section-book-anywhere .book-anywhere__img {
  position: absolute;
  left: 0;
  bottom: -30px;
}

.section-book-anywhere .book-anywhere__title {
  font-family: 'Muli ExtraBold';
  font-size: 25px;
  position: absolute;
  left: 50%;
  line-height: 34px;
}

.section-book-anywhere .book-anywhere__title b {
  color: #ff6600;
}

.section-book-anywhere .book-anywhere__title i {
  font-style: normal;
  font-size: 15px;
}

.section-book-anywhere .book-anywhere__title img {
  display: inherit;
}

.footer {
  padding: 60px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #ababab;
}

.footer .socials {
  list-style: none;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 8.8rem;
  margin: 4rem 0 0 1.5rem;
}

.footer .socials a {
  color: #000;
}

.footer .footer-menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-menu__item {
  margin-left: 7.2rem;
  text-align: right;
}

.footer .footer-menu__item h5 {
  font-size: 1.5rem;
  color: #ff6b08;
}

.footer .footer-menu__item ul {
  list-style: none;
  margin-top: 3rem;
  line-height: 1.6rem;
}

.footer .footer-menu__item ul .mail {
  margin-bottom: 0.5rem;
}

.footer .footer-menu__item ul a {
  text-decoration: none;
  color: #000;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user__avatar {
  width: 168px;
  height: 168px;
  border-radius: 50%;
  border: 2px solid #ff0000;
  position: relative;
}

.user__avatar img {
  width: 100%;
}

.user__camera {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #ff0000;
  border-radius: 50%;
  position: absolute;
  bottom: -5px;
  right: 16px;
  font-size: 20px;
  color: #041d39;
}

.user__name {
  font-size: 24px;
  font-weight: bolder;
  color: #041d39;
  margin-top: 20px;
}

.user__rating-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.user__rating-item {
  font-size: 24px;
  color: #7a7a7a;
}

.user__rating-item.active:before {
  content: "\2605";
  position: absolute;
  color: #041d39;
}

.user__since {
  font-size: 11px;
  font-weight: bold;
  color: #ff6600;
  margin-top: 10px;
}

.profile-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.profile-settings .title {
  font-size: 40px;
  font-weight: 800;
  margin-top: 50px;
}

.profile-settings .profile-form {
  margin-top: 90px;
}

.profile-settings .profile-form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  position: relative;
  margin-top: 50px;
}

.profile-settings .profile-form__label {
  font-size: 24px;
  font-weight: bold;
}

.profile-settings .profile-form__input {
  height: 40px;
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}

.profile-settings .profile-form__input::-webkit-input-placeholder {
  color: #828e9c;
}

.profile-settings .profile-form__input:-ms-input-placeholder {
  color: #828e9c;
}

.profile-settings .profile-form__input::-ms-input-placeholder {
  color: #828e9c;
}

.profile-settings .profile-form__input::placeholder {
  color: #828e9c;
}

.profile-settings .profile-form__edit {
  font-size: 18px;
  color: #828e9c;
  position: absolute;
  right: 0;
  bottom: 9px;
}

.profile-settings .profile-form__button {
  margin-top: 100px;
}

.profile-settings .home-flower {
  position: absolute;
  left: 160px;
  bottom: 274px;
}

.profile-settings .human-sitting {
  position: absolute;
  right: 160px;
  top: 337px;
}
