html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Muli', sans-serif;
  font-size: 10px;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav-menu span {
  font-size: 12px;
  font-weight: bold;
}

.container {
  padding: 30px 80px;
  max-width: 960px;
  margin: auto;
}

.search {
  position: relative;
  padding: 0;
  width: 251px;
}

.search__input {
  border: none;
  background-color: #f6f6f6;
  border-radius: 12px;
  width: 100%;
  padding-left: 54px;
}

.search__input::-webkit-input-placeholder {
  color: #ababab;
}

.search__input:-ms-input-placeholder {
  color: #ababab;
}

.search__input::-ms-input-placeholder {
  color: #ababab;
}

.search__input::placeholder {
  color: #ababab;
}

.search__input:focus {
  outline: none;
}

.search__button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 14px;
  border: none;
  background: none;
  color: #ff6b08;
  font-size: 12px;
  cursor: pointer;
}

.header .search__input {
  height: 28px;
}

.header__sell-button {
  background-color: #ff6b08;
  border-radius: 6px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 14px;
  border: none;
  cursor: pointer;
}

.header__user {
  display: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__user .avatar {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.header__user span {
  font-size: 7.5px;
  color: #3a506b;
  margin-top: 6px;
}

.header__main-menu {
  font-size: 12px;
  font-weight: bold;
  list-style: none;
  display: inherit;
}

.header__main-menu li:not(:first-child) {
  margin-left: 25px;
}

.header__main-menu li a {
  text-decoration: none;
}

.section-banner .banner {
  background-color: #d6effa;
  padding: 55px;
  border-radius: 24px;
  position: relative;
}

.section-banner .banner h1 {
  font-size: 25px;
  font-weight: normal;
  line-height: 36px;
  margin: 0;
}

.section-banner .banner h1 b {
  font-family: 'Muli Black';
}

.section-banner .banner__search {
  margin-top: 24px;
}

.section-banner .banner__search .search {
  width: 276px;
}

.section-banner .banner__search .search__input {
  height: 34px;
  background-color: #fff;
}

.section-banner .banner img {
  position: absolute;
  bottom: -44px;
  right: -24px;
}

.title-h3 {
  font-size: 15px;
  font-weight: bold;
}

.section-categories .categories {
  padding: 30PX 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.section-categories .categories__item {
  background-color: #f6f6f6;
  padding: 15px;
  border-radius: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  font-size: 9px;
  color: #000;
  height: 106px;
  width: 80px;
}

.section-categories .categories__item .image {
  height: 52px;
  width: 100%;
  background: url(/images/categories-sprite.png) no-repeat;
}

.section-categories .categories__item .image.baby-and-child {
  background-position-x: 2px;
}

.section-categories .categories__item .image.fashion-and-accessories {
  background-position-x: -54px;
}

.section-categories .categories__item .image.home-and-garden {
  background-position-x: -104px;
}

.section-categories .categories__item .image.sports-and-leisure {
  background-position-x: -166px;
}

.section-categories .categories__item .image.games-and-consoless {
  background-position-x: -240px;
}

.section-categories .categories__item .image.home-appliances {
  background-position-x: -314px;
}

.section-categories .categories__item .image.property {
  background-position-x: -386px;
}

.section-categories .categories__item .image.books-films-and-music {
  background-position-x: -459px;
}

.section-categories .categories__item span {
  display: inline-block;
  text-align: center;
  line-height: normal;
}

.section-categories .categories__load-more {
  position: absolute;
  bottom: 0;
  right: 0;
  text-decoration: none;
  color: #ff6600;
  font-size: 7.5px;
}

h2 {
  font-size: 27.5px;
  font-weight: bolder;
}

.section-discover .discover-menu {
  list-style: none;
  font-size: 12.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 31px;
}

.section-discover .discover-menu__item {
  padding-bottom: 10px;
}

.section-discover .discover-menu__item:not(:first-child) {
  margin-left: 26px;
}

.section-discover .discover-menu__item a {
  text-decoration: none;
  color: #ababab;
  font-weight: bold;
}

.section-discover .discover-menu__item.active {
  background: url(/images/menu-underline.png) no-repeat;
  background-position: bottom;
}

.section-discover .discover-menu__item.active a {
  color: #000;
  position: relative;
}

.section-discover .discover {
  list-style: none;
  margin-top: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-discover .discover__item {
  width: 124px;
}

.section-discover .discover__item .preview {
  background-color: #ffe8d9;
  border-radius: 8px;
  padding: 108px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.section-discover .discover__item .preview__image {
  position: absolute;
  top: -18px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section-discover .discover__item .preview__name {
  font-size: 13px;
  font-weight: bold;
  color: #000;
}

.section-discover .discover__item .preview__price {
  font-size: 11px;
  color: #ababab;
  margin-top: 8px;
}

.section-discover .discover__item .preview__like {
  width: 20px;
  height: 20px;
  background: url(/images/discover-icons.png);
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: 16px;
}

.section-discover .discover__item .buttons-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 22px;
}

.section-discover .discover__item .buttons-panel .settings {
  display: block;
  height: 18px;
  width: 18px;
  background: url(/images/discover-icons.png);
  background-position-x: -34px;
}

.section-discover .discover__item .buttons-panel .buy-now {
  color: #fff;
  background-color: #041d39;
  padding: 8px 20px;
  text-decoration: none;
  font-size: 10.5px;
  font-weight: bold;
  border-radius: 5px;
}
/*# sourceMappingURL=style.css.map */