.container {
  max-width: 1920px;
}

.breadcrumb {
  display: flex;
  list-style: none;

  &__item {
    font-size: 20px;
    color: #000;

    &::before {
      content: '/';
      padding: 0 3px;
    }

    &:not(:last-child) {
      cursor: pointer;
    }
  }
}

.product {
  display: flex;

  &__gallery {
    width: 812px;
    height: 688px;
    border: 1px solid #707070;
  }

  &__info {
    padding: 0 170px;
    font-size: 20px;

    .rating {

      &__stars {
        height: 26px;
        width: 170px;
        background: url(../images/rating-stars.png);
      }

      &__review {
        color: #ff6600;
      }
    }

    .title {
      font-size: 50px;
    }

    .price {
      display: flex;
      align-items: center;

      &__item {
        color: #ababab;
        font-weight: bold;
        margin-right: 10px;

        &.active {
          font-size: 30px;
          color: #041d39;
        }
      }
    }

    .count {
      font-size: 30px;
      font-weight: bold;
      color: #041d39;
      margin-top: 236px;

      button {

      }
    }

    .actions {
      margin-top: 92px;

      &__buy {
        font-weight: bold;
        letter-spacing: 4px;
        padding: 30px 54px;
        background-color: #041d39;
        color: #fff;
        border-radius: 8px;
      }

      &__wish {
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;
        color: #041d39;
        padding: 25px 27px;
        background: #f6f6f6;
        border-radius: 7px;
      }
    }
  }
}