html {
  font-size: 16px;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Muli', sans-serif;
  box-sizing: border-box;
}

input, button {
  border: none;
  outline: none;
  background: none;
}

ul {
  list-style: none;
}

.container {
  position: relative;
  background: #fff;
  box-shadow: darken($color: #000000, $amount: 0);
  display: flex;
  width: 100%;
}

.form {
  width: 485px;
  padding: 100px;
  position: relative;

  img {
    display: block;
    margin: 0 auto;
    padding: 88px;
  }

  h2 {
    width: 100%;
    text-align: center;
    font-size: 47px;
    color: #ff6600;
    padding: 50px 0;
  }

  label {
    display: block;
    width: 100%;
    margin: 40px auto;
    text-align: center;
    overflow: hidden;

    input {
      display: block;
      width: 100%;
      margin-top: 5px;
      padding-bottom: 40px;
      border-bottom: 1px solid #b7b7b7;

      &::placeholder {
        color: #ababab;
        font-size: 22px;
      }
    }
  }

  .socials {
    display: flex;

    &__item {
      margin-right: 42px;

      a {
        font-size: 30px;
        color: #041d39;
      }
    }
  }

  .forgot-pass {
    color: #041d39;
    text-decoration: none;
    font-size: 22px;
    margin-top: 50px;
    display: block;
  }

  .submit {
    color: #fff;
    background: url(/images/icons.png) no-repeat #ff6600;
    background-position: center center;
    border-radius: 9px;
    padding: 27.5px;
    position: absolute;
    right: 100px;
    bottom: 74px;
    cursor: pointer;
  }
} 

.banner {
  background: url(/images/sign-in-banner.png) no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
  padding: 120px;
  display: flex;
  align-items: center;

  .title {
    color: #fff;

    h3 {
      font-size: 47px;
      font-weight: normal;
    }

    h1 {
      font-size: 75px;
      font-weight: 900;

      b {
        color: #041d39;
        display: block;
        margin-top: 50px;
        font-weight: 900;
      }
    }
  }
  
}