@import 'vars';
@import 'fonts';

html {
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
  font-size: 10px; 
}

body {
  
}

*,*::after,*::before{
  box-sizing: inherit;
}

ul {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__nav-menu {

    span {
      font-size: 12px;
      font-weight: bold;
    }
  }
}

.container {
  padding: 30px 80px;
  max-width: 960px;
  margin: auto;
}

.search {
  position: relative;
  padding: 0;
  width: 251px;

  &__input {
    border: none;
    background-color: #f6f6f6;
    border-radius: 12px;
    width: 100%;
    padding-left: 54px;

    &::placeholder {
      color: #ababab;
    }

    &:focus {
      outline: none;
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 14px;
    border: none;
    background: none;
    color: #ff6b08;
    font-size: 12px;
    cursor: pointer;
  }
}

.header {

  .search {

    &__input {
      height: 28px;
    }
  }

  &__sell-button {
    background-color: #ff6b08;
    border-radius: 6px;
    color:#fff;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 14px;
    border: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &__user {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .avatar {
      width: fit-content;
    }

    span {
      font-size: 7.5px;
      color: #3a506b;
      margin-top: 6px;
    }
  }

  &__main-menu {
    font-size: 12px;
    font-weight: bold;
    list-style: none;
    display: inherit;

    li {

      &:not(:first-child) {
        margin-left: 25px;
      }
      
      a {
        text-decoration: none;
      }
    }
  }
}

.section-banner {

  .banner {
    background-color: #d6effa;
    padding: 55px;
    border-radius: 24px;
    position: relative;

    h1 {
      font-size: 25px;
      font-weight: normal;
      line-height: 36px;
      margin: 0;

      b {
        font-family: 'Muli Black';
      }
    }

    &__search {
      margin-top: 24px;

      .search {
        width: 276px;

        &__input {
          height: 34px;
          background-color: #fff;
        }
      }
    }

    img {
      position: absolute;
      bottom: -44px;
      right: -24px;
    }
  }
}

.title-h2 {
  font-size: 27.5px;
  font-weight: bolder;
}

.title-h3 {
  font-size: 15px;
  font-weight: bold;
}

.title-h4 {
  font-size: 15px;
  font-weight: bold;
  color: #ababab;
  letter-spacing: 6px;
}


.section-categories-services {

  .categories {
    padding: 30PX 25px;
    display: flex;
    justify-content: space-between;
    position: relative;

    &__item {
      background-color: #f6f6f6;
      padding: 15px;
      border-radius: 14px;
      display: flex;
      flex-direction: column;
      text-decoration: none;
      font-size: 9px;
      color: #000;
      height: 106px;
      width: 80px;

      .image {
        height: 52px;
        width: 100%;
        background: url(../images/categories-and-services-sprite.png) no-repeat;

        &.baby-and-child {
          background-position-x: 2px;
        }

        &.fashion-and-accessories {
          background-position-x: -54px;
        }

        &.home-and-garden {
          background-position-x: -104px;
        }

        &.sports-and-leisure {
          background-position-x: -166px;
        }

        &.games-and-consoless {
          background-position-x: -240px;
        }

        &.home-appliances {
          background-position-x: -314px;
        }

        &.property {
          background-position-x: -386px;
        }

        &.books-films-and-music {
          background-position-x: -459px;
        }


        &.hair-salon {
          background-position-x: -531px;
        }

        &.plumber {
          background-position-x: -597px;
        }

        &.floor-cleaner {
          background-position-x: -660px;
        }

        &.dj {
          background-position-x: -731px;
        }

        &.chef {
          background-position-x: -806px;
        }

        &.car-repairs {
          background-position-x: -877px;
        }

        &.spa {
          background-position-x: -943px;
        }

        &.therapy-session {
          background-position-x: -1009px;
        }
      }

      span {
        display:inline-block;
        text-align: center;
        line-height: normal;
      }
    }

    &__load-more {
      position: absolute;
      bottom: 0;
      right: 0;
      text-decoration: none;
      color: #ff6600;
      font-size: 7.5px;
    }
  }
}

.section-discover {

  .discover-menu {
    list-style: none;
    font-size: 12.5px;
    display: flex;
    margin-top: 31px;

    &__item {
      padding-bottom: 10px;
      
      &:not(:first-child) {
        margin-left: 26px;
      }

      a {
        text-decoration: none;
        color: #ababab;
        font-weight: bold;
      }

      &.active {
        background: url(../images/menu-underline.png) no-repeat;
        background-position: bottom;
        
        a {
          color: #000;
          position: relative;
        }
      }
    }
  }

  .discover {
    list-style: none;
    margin-top: 58px;
    display: flex;
    justify-content: space-between;

    &__item {
      width: 124px;

      .preview {
        background-color: #ffe8d9;
        border-radius: 8px;
        padding: 108px 10px 10px;
        display: flex;
        flex-direction: column;
        position: relative;

        &__image {
          position: absolute;
          top: -18px;
          left: 50%;
          transform: translateX(-50%);
        }

        &__name {
          font-size: 13px;
          font-weight: bold;
          color: #000;
        }

        &__price {
          font-size: 11px;
          color: #ababab;
          margin-top: 8px;
        }

        &__like {
          width: 20px;
          height: 20px;
          background: url(../images/discover-icons.png);
          border: none;
          cursor: pointer;
          position: absolute;
          right: 10px;
          bottom: 16px;
        }
      }

      .buttons-panel {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 22px;

        .settings {
          display: block;
          height: 18px;
          width: 18px;
          background: url(../images/discover-icons.png);
          background-position-x: -34px;
        }
  
        .buy-now {
          color: #fff;
          background-color: #041d39;
          padding: 8px 20px;
          text-decoration: none;
          font-size: 10.5px;
          font-weight: bold;
          border-radius: 5px;
        }
      }
    }
  }
}

.section-near-you {

  .near-you {
    display: flex;
    justify-content: space-between;
    margin-top: 46px;

    .near-you__item {
      list-style: none;

      a {
        text-decoration: none;
        color: #000;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title-h3 {
          margin-top: 18px;
        }

        p {
          font-size: 7.5px;
          font-weight: bolder;
          margin-top: 8px;
        }
      }
    }
  }
}

.section-partner {

  .partner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 24px 0 34px;

    .wave-text {
      letter-spacing: 20px;
      margin-top: 160px;

      b {
        font-size: 30px;
        font-weight: bold;

        &.bottom {
          position: relative;
          top: 32px;
        }
      }
    }

    span {
      font-size: 12.5px;
      margin-top: 120px;
    }

    &__button {
      background-color: #ff6b08;
      border-radius: 6px;
      color: #fff;
      font-size: 9px;
      padding: 10px 18px;
      border: none;
      cursor: pointer;
      text-decoration: none;
      margin-top: 30px;
    }

    .avatar-partner {
      width: 37px;
      height: 37px;
      background: url(../images/partners-icons.png) no-repeat;
      position: absolute;

      &.item_0 {
        top: 0;
        left: 58px;
      }

      &.item_1 {
        background-position-x: -47px;
        top: 40px;
        left: 275px;
      }

      &.item_2 {
        background-position-x: -187px;
        top: 38px;
        right: 54px;
      }

      &.item_3 {
        background-position-x: -141px;
        top: 63px;
        right: 193px;
      }

      &.item_4 {
        background-position-x: -94px;
        top: 112px;
        right: 297px;
      }

      &.item_5 {
        background-position-x: -236px;
        top: 132px;
        left: 121px;
      }

      &.item_6 {
        background-position-x: -283px;
        top: 148px;
        right: 89px;
      }

      &.item_7 {
        background-position-x: -330px;
        top: 200px;
        left: 22px;
      }

      &.item_8 {
        background-position-x: -523px;
        top: 211px;
        right: 0px;
      }

      &.item_9 {
        background-position-x: -426px;
        top: 264px;
        left: 314px;
      }

      &.item_10 {
        background-position-x: -475px;
        top: 291px;
        right: 279px;
      }

      &.item_11 {
        background-position-x: -571px;
        top: 304px;
        right: 51px;
      }

      &.item_12 {
        background-position-x: -379px;
        top: 313px;
        left: 186px;
      }

      &.item_13 {
        background-position-x: -667px;
        top: 400px;
        right: 174px;
      }

      &.item_14 {
        background-position-x: -619px;
        top: 420px;
        left: 121px;
      }
    }
  }
}

.section-book-anywhere{
  background-color: #d9ffec;
  margin-top: 60px;

  .book-anywhere {
    padding: 10px 0;
    position: relative;
    height: 164px;

    &__img {
      position: absolute;
      left: 0;
      bottom: -30px;
    }

    &__title {
      font-family: 'Muli ExtraBold';
      font-size: 25px;
      position: absolute;
      left: 50%;
      line-height: 34px;

      b {
        color: #ff6600;
      }

      i {
        font-style: normal;
        font-size: 15px;
      }

      img {
        display: inherit;
      }
    }
  }
}

.footer {
  padding: 60px 0 10px;
  display: flex;
  justify-content: space-between;

  .socials {
    list-style: none;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    width: 8.8rem;
    margin: 4rem 0 0 1.5rem;

    a {
      color: #000;
    }
  }

  .footer-menu {
    list-style: none;
    display: flex;

    &__item {
      margin-left: 7.2rem;
      text-align: right;

      h5 {
        font-size: 1.5rem;
        color: #ff6b08;
      }

      ul {
        list-style: none;
        margin-top: 3rem;
        line-height: 1.6rem;

        .mail {
          margin-bottom: 0.5rem;
        }

        a {
          text-decoration: none;
          color: #000;
        }
      }
    }
  }
}