@import 'vars';
@import 'fonts';

html {
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
  font-size: 10px; 
}

body {
  
}

*,*::after,*::before{
  box-sizing: inherit;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__nav-menu {

    span {
      font-size: 12px;
      font-weight: bold;
    }
  }
}

.container {
  padding: 30px 80px;
  max-width: 960px;
  margin: auto;
}

.search {
  position: relative;
  padding: 0;
  width: 251px;

  &__input {
    border: none;
    background-color: #f6f6f6;
    border-radius: 12px;
    width: 100%;
    padding-left: 54px;

    &::placeholder {
      color: #ababab;
    }

    &:focus {
      outline: none;
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 14px;
    border: none;
    background: none;
    color: #ff6b08;
    font-size: 12px;
    cursor: pointer;
  }
}

.header {

  .search {

    &__input {
      height: 28px;
    }
  }

  &__sell-button {
    background-color: #ff6b08;
    border-radius: 6px;
    color:#fff;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 14px;
    border: none;
    cursor: pointer;
  }

  &__user {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .avatar {
      width: fit-content;
    }

    span {
      font-size: 7.5px;
      color: #3a506b;
      margin-top: 6px;
    }
  }

  &__main-menu {
    font-size: 12px;
    font-weight: bold;
    list-style: none;
    display: inherit;

    li {

      &:not(:first-child) {
        margin-left: 25px;
      }
      
      a {
        text-decoration: none;
      }
    }
  }
}

.section-banner {

  .banner {
    background-color: #d6effa;
    padding: 55px;
    border-radius: 24px;
    position: relative;

    h1 {
      font-size: 25px;
      font-weight: normal;
      line-height: 36px;
      margin: 0;

      b {
        font-family: 'Muli Black';
      }
    }

    &__search {
      margin-top: 24px;

      .search {
        width: 276px;

        &__input {
          height: 34px;
          background-color: #fff;
        }
      }
    }

    img {
      position: absolute;
      bottom: -44px;
      right: -24px;
    }
  }
}

.title-h3 {
  font-size: 15px;
  font-weight: bold;
}

.section-categories {

  .categories {
    padding: 30PX 25px;
    display: flex;
    justify-content: space-between;
    position: relative;

    &__item {
      background-color: #f6f6f6;
      padding: 15px;
      border-radius: 14px;
      display: flex;
      flex-direction: column;
      text-decoration: none;
      font-size: 9px;
      color: #000;
      height: 106px;
      width: 80px;

      .image {
        height: 52px;
        width: 100%;
        background: url(/images/categories-sprite.png) no-repeat;

        &.baby-and-child {
          background-position-x: 2px;
        }

        &.fashion-and-accessories {
          background-position-x: -54px;
        }

        &.home-and-garden {
          background-position-x: -104px;
        }

        &.sports-and-leisure {
          background-position-x: -166px;
        }

        &.games-and-consoless {
          background-position-x: -240px;
        }

        &.home-appliances {
          background-position-x: -314px;
        }

        &.property {
          background-position-x: -386px;
        }

        &.books-films-and-music {
          background-position-x: -459px;
        }
      }

      span {
        display:inline-block;
        text-align: center;
        line-height: normal;
      }
    }

    &__load-more {
      position: absolute;
      bottom: 0;
      right: 0;
      text-decoration: none;
      color: #ff6600;
      font-size: 7.5px;
    }
  }
}

h2 {
  font-size: 27.5px;
  font-weight: bolder;
}

.section-discover {

  .discover-menu {
    list-style: none;
    font-size: 12.5px;
    display: flex;
    margin-top: 31px;

    &__item {
      padding-bottom: 10px;
      
      &:not(:first-child) {
        margin-left: 26px;
      }

      a {
        text-decoration: none;
        color: #ababab;
        font-weight: bold;
      }

      &.active {
        background: url(/images/menu-underline.png) no-repeat;
        background-position: bottom;
        
        a {
          color: #000;
          position: relative;
        }
      }
    }
  }

  .discover {
    list-style: none;
    margin-top: 58px;
    display: flex;
    justify-content: space-between;

    &__item {
      width: 124px;

      .preview {
        background-color: #ffe8d9;
        border-radius: 8px;
        padding: 108px 10px 10px;
        display: flex;
        flex-direction: column;
        position: relative;

        &__image {
          position: absolute;
          top: -18px;
          left: 50%;
          transform: translateX(-50%);
        }

        &__name {
          font-size: 13px;
          font-weight: bold;
          color: #000;
        }

        &__price {
          font-size: 11px;
          color: #ababab;
          margin-top: 8px;
        }

        &__like {
          width: 20px;
          height: 20px;
          background: url(/images/discover-icons.png);
          border: none;
          cursor: pointer;
          position: absolute;
          right: 10px;
          bottom: 16px;
        }
      }

      .buttons-panel {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 22px;

        .settings {
          display: block;
          height: 18px;
          width: 18px;
          background: url(/images/discover-icons.png);
          background-position-x: -34px;
        }
  
        .buy-now {
          color: #fff;
          background-color: #041d39;
          padding: 8px 20px;
          text-decoration: none;
          font-size: 10.5px;
          font-weight: bold;
          border-radius: 5px;
        }
      }
    }
  }
}